Repository matterizelabs/ansible-matter-setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, ansible-lint

yamllint:
  name: yamllint
  entry: yamllint
  language: system

ansible-lint:
  name: ansible-lint
  entry: ansible-lint
  language: system

add upstream connectedhomeip and dynamic android deps
  README.md
  ansible.cfg
  collections/requirements.yml
  group_vars/all.yml
  inventory.ini
  inventory.yml
  roles/android_matter/defaults/main.yml
  roles/android_matter/tasks/main.yml
  roles/chip_upstream/defaults/main.yml
  roles/chip_upstream/tasks/main.yml
  roles/esp_matter/tasks/main.yml
  scripts/parse_android_deps.py
  site.yml
Due: yamllint, ansible-lint

add github actions ci
  .github/workflows/ci.yml
  inventory.ci.yml
Due: yamllint

add ci concurrency
  .github/workflows/ci.yml
Due: yamllint

add MIT license and scope CI
  .github/workflows/ci.yml
  LICENSE
  README.md
Due: yamllint

Remove License section from README
  README.md
Due: none

gate CI with paths and keep required check
  .github/workflows/ci.yml
Due: yamllint

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  ansible-lint: any of: (site.yml|playbook.yml|roles/|group_vars/|host_vars/) and \.(yaml|yml)$
